@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #574040;
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10%; /* Move the left side towards the center */
}

.navbar-logo {
  margin-right: 10px; /* Adjust spacing between the logo and the brand name */
}

/* Ensure the logo image is circular */
.navbar-logo img {
  width: 40px; /* Size of the logo */
  height: 40px; /* Size of the logo */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the area */
}


.navbar-brand {
  margin-left: 10px; /* Adjust the value to control the spacing */
  font-size: 1.2em; /* Adjust font size if needed */
  color: #ffffff; /* Adjust text color if needed */
  text-decoration: none; /* R emove underline from links */
}

/* Right side: menu styles */
.navbar-menu {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10%; /* Move the right side towards the center */
}

.navbar-menu li {
  margin-left: 20px; /* Spacing between the menu items */
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 18px; /* Font size for the links */
  letter-spacing: 1px; /* Add letter spacing */
}

.navbar-menu li a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Burger icon for small screens */
.navbar-toggle {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

/* Mobile and tablet view */
@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none; /* Hide the menu initially */
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu li {
    margin: 10px 0;
  }

  .navbar-toggle {
    display: block; /* Show burger icon */
  }
}
